<!DOCTYPE html>
<html>

<%- include('../partials/head.ejs', { head }); -%>

<body>
    <h1 class="alignCentre">LOGIN</h1>
    <%- include('../partials/nav.ejs', { user: body.user }); -%>
    <%- include('../partials/userAccessForm.ejs', { route: '/login' }); -%>
</body>
</html>