<form action="<%= route %>" method="post">
    <div class="margBot20">
        <label for="username" class="dispBlock">Username</label>
        <input name="username" type="text" />
    </div>

    <div class="margBot20">
        <label for="password" class="dispBlock">Password</label>
        <input name="password" type="password" />
    </div>

    <button type="submit">Submit</button>
</form>